/* Add this CSS to style the navigation bar */
.task-navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px; /* Adjust padding as needed */
  align-items: center; /* Center the content vertically */
}

.task-navbar-left {
  display: flex;
  gap: 5%;
}

.task-navbar-right {
  display: flex;
  gap: 20px; /* Adjust gap as needed */
}

.button {
  font-weight: bold;
  font-size: 20px; 
}


.table-header {
  font-weight: bold;
}